/* BELOW 1350PX */

@media (max-width: 84em) {
    html {
        font-size: 56.25%;
    }
}

/* BELOW 1200PX */

@media (max-width: 75em) {
    html {
        font-size: 50%;
    }
}

/* BELOW 944PX */

@media (max-width: 60em) {

    .dog-properties {
        /* grid-template-columns: 1fr; */
        padding: 6.4rem 2.4rem;
    }
}

/* BELOW 750PX */

@media (max-width: 47em) {
    html {
        font-size: 43.7%;
    }

    .table-container {
        padding: 9.6rem 2rem;
    }


}

/* BELOW 550PX */

@media (max-width: 34em) {
    html {
        font-size: 31.2%;
    }

    img {
        /* max-width: 60%; */
        max-height: 50%;
    }
}